<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉 width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--让部分国产浏览器默认采用高速模式渲染页面 360浏览器支持-->
    <meta name="renderer" content="webkit">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/favicon.ico">
    <title>权限模块</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--表格-->
    <link rel="stylesheet" href="/assets/js/plugins/dataTables/dataTables.bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/js/plugins/font-awesome/css/font-awesome.min.css">
    <!--弹窗-->
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/sweetalert/sweetalert.css">
    <!-- 验证-->
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/nice-validator/jquery.validator.css">
    <!--ztree-->
    <link rel="stylesheet" href="/assets/js/plugins/ztree/css/metroStyle/metroStyle.css">
    <!--自定义 -->
    <link rel="stylesheet" href="/assets/css/sys.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    #parse("/nav.vm")
<div class="container sys-head">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="panel-title">权限列表</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 hidden-xs">
                            <button type="button" class="btn-add btn btn-success">
                                添加
                            </button>
                        </div>
                        <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-6">
                            <div class="input-group input-group-sm">
                                <input id="table-search" type="text" name="q" class="form-control" placeholder="search"
                                       autocomplete="off">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn-search btn btn-default"><i
                                            class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="data-list" class="table table-bordered table-hover display" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>菜单名称</th>
                            <th>url</th>
                            <th>备注</th>
                            <th>创建时间</th>
                            <th width="80px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    个人说明
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<!-- .add modal -->
<div class="modal fade" id="bean-add-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加权限</h4>
            </div>
            <form id="bean-add-form" class="form-horizontal" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input0" class="col-sm-2 control-label">上级菜单</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="pName form-control" id="input0" name="pName" placeholder="上级菜单,没有可以为空" readonly>
                                <div class="input-group-addon"> <span class="menu-select">选择</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group menuContent" style="display:none;">
                        <label class="col-sm-2" ></label>
                        <div class="col-sm-10" ">
                            <div style="height: 100px; overflow: auto">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-sm-2 control-label">权限名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input1" name="name" placeholder="权限名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input2" class="col-sm-2 control-label">URI</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input2" name="url" placeholder="URI">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input3" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remark" id="input3" rows="3"
                                      placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">清空</button>
                    <button type="button" class="bean-add-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.add modal -->
<div class="modal fade" id="bean-edit-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑权限</h4>
            </div>
            <form id="bean-edit-form" class="form-horizontal" method="post" autocomplete="off">
                <div class="modal-body">
                    <input type="hidden" name="id"> <!--- 表单隐藏域 -->
                    <div class="form-group">
                        <label for="input1" class="col-sm-2 control-label">权限名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input1" name="name" placeholder="权限名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input2" class="col-sm-2 control-label">URI</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input2" name="url" placeholder="URI">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input3" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remark" id="input3" rows="3"
                                      placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">清空</button>
                    <button type="button" class="bean-edit-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--表格-->
<script src="/assets/js/plugins/dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/plugins/dataTables/dataTables.zh-CN.js"></script>
<!--弹窗-->
<script src="/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<!--验证-->
<script src="/assets/js/plugins/nice-validator/jquery.validator.min.js"></script>
<script src="/assets/js/plugins/nice-validator/zh-CN.js"></script>
<!--ztree-->
<script src="/assets/js/plugins/ztree/jquery.ztree.all.min.js"></script>
<!--自定义-->
<script src="/assets/js/sys.js"></script>


<script>
    $(function () {
        var bean_add_modal = $('#bean-add-modal');
        var bean_edit_modal = $('#bean-edit-modal');
//        bean_add_modal.modal({
//            backdrop: true,
//            show: false,
//            keyboard: true
//        });
//        bean_edit_modal.modal({
//            backdrop: true,
//            show: false,
//            keyboard: true
//        });

        var table = $('#data-list').DataTable({
            "ajax": {
                "url": "/privilege/index",
                "type": "POST",
//                "dataType": "json",
                "contentType": "application/json;charset=UTF-8",
                "data": function (data) {
                    return JSON.stringify(data);
                }
            },
            "columns": [
                {"data": "id", "searchable": false},
                {"data": "name"},
                {"data": "url"},
                {"data": "remark"},
                {
                    "data": "createTime", "render": function (data, type, row) {
                    return new Date(data).format("yyyy-MM-dd HH:mm:ss")
                }
                },

                {"data": null, "searchable": false, "orderable": false}//不参与排序和查询
            ],
            "columnDefs": [{
                "targets": -1,
                "render": function (data, type, row) {
                    return '<button class="btn-edit btn btn-xs btn-info" data-id="' + row.id + '">编辑</button> <button class="btn-del btn btn-xs btn-danger" data-id="' + row.id + '">删除</button>';
                }
//                "defaultContent": "<button class='btn-edit btn btn-xs btn-info'>编辑</button> <button class='btn-del btn btn-xs btn-danger'>删除</button>"//添加按钮
            }],
            "initComplete": function () {
//                var api = this.api();
            }
        });
        //隐藏默认的搜索
        $(".dataTables_filter").hide();
        //自定义搜索
        $('#table-search').keydown(function (e) {
            var keynum = window.event ? e.keyCode : e.which;
            if (13 == keynum) {//回车
//                var q = $(':text[name="q"]').val();
                table.search(this.value).draw();
            }
        })
        $('.btn-search').click(function () {
            var q = $(':text[name="q"]').val();
            table.search(q).draw();
        });

        var bean_add_form = $('#bean-add-form');

        bean_add_form.validator({
            theme: "simple_top",
            fields: {
                'name': 'required; name;'
//                'pwd': 'required; password;',
//                'mobile': 'required; mobile;',
//                'email': 'required; email;'
            },
            // 获取display
            display: function (el) {
                return el.getAttribute('placeholder') || '';
            },
            valid: function (form) {
                //表单验证通过，提交表单到服务器
                sys.submit(form, "/privilege/insert", function () {
                    table.ajax.reload();
                    bean_add_modal.modal("hide");
                    hideMenu();//关闭树列表
                });
            }
        }).on('click', '.bean-add-form-submit', function (e) {
            $(e.delegateTarget).trigger("validate");
        });

        var bean_edit_form = $('#bean-edit-form');
        bean_edit_form.validator({
            theme: "simple_top",
            fields: {
                'name': 'required; name;'
//                'pwd': 'required; password;',
//                'mobile': 'required; mobile;',
//                'email': 'required; email;'
            },
            // 获取display
            display: function (el) {
                return el.getAttribute('placeholder') || '';
            },
            valid: function (form) {
                //表单验证通过，提交表单到服务器
                sys.submit(form, "/privilege/update", function () {
                    table.ajax.reload();
                    bean_edit_modal.modal("hide");
                });
            }
        }).on('click', '.bean-edit-form-submit', function (e) {
            $(e.delegateTarget).trigger("validate");
        });
        //添加
        $('.btn-add').click(function () {
            bean_add_modal.modal("show");
        });
        //编辑
        $(document).on('click', '.btn-edit', function () {
            var _this = $(this);
            var _tr = _this.parent().parent()[0];
            console.info(_tr);
            var data = table.row(_tr).data();
            console.info(data);

            for (var obj in data) {
                $('#bean-edit-form input[name=' + obj + ']').val(data[obj]);
                $('#bean-edit-form textarea[name=' + obj + ']').text(data[obj]);

                console.info(obj);
            }
            bean_edit_modal.modal("show");
        });
        //删除
        $(document).on('click', '.btn-del', function () {
            var _this = $(this);
            var id = _this.data('id');
            sys.confirm("", function () {
                sys.del("/privilege/del", id, function () {
                    table.ajax.reload();
                })
            });
        });

        $('.menu-select').click(function () {
            var setting = {
                view: {
                    dblClickExpand: false,
                    showLine: true
                },
                callback: {
                    onClick: function (e, treeId, treeNode) {
                        $(".pName").val(treeNode.name);
                    }
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };
            $.ajax({
                type: 'POST',
                url: "/privilege/tree",
//                data: {"id": id},
                dataType: 'json',
                success: function (result) {
                    $.fn.zTree.init($("#treeDemo"), setting, result.data.obj);
                    showMenu();
                }
            })
        });
        function showMenu() {
            $('.menuContent').show();
        }
        function hideMenu() {
            $('.menuContent').hide();
        }
    });
</script>
</body>
</html>
