<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉 width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--让部分国产浏览器默认采用高速模式渲染页面 360浏览器支持-->
    <meta name="renderer" content="webkit">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/favicon.ico">
    <title>请假单</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/js/plugins/font-awesome/css/font-awesome.min.css">
    <!--弹窗-->
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/sweetalert/sweetalert.css">
    <!-- 验证-->
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/nice-validator/jquery.validator.css">
    <!--自定义 -->
    <link rel="stylesheet" href="/assets/css/sys.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    #parse("/nav.vm")
<div class="container sys-head">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">请假单</h3>
                </div>
                <form id="qj-form" class="form-horizontal" method="post" autocomplete="off">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="input1" class="col-sm-2 control-label">事由</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="input1" name="reason" placeholder="事由">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input2" class="col-sm-2 control-label">时间</label>
                            <div class="col-sm-4">
                                <input id="startTime"  type="text" class="form-control" id="input2" name="startTime" placeholder="开始时间">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="endTime" placeholder="结束时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input3" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="remark" rows="3" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-danger">清空</button>
                            &nbsp;
                            <button type="button" class="qj-form-submit btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--弹窗-->
<script src="/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<!--验证-->
<script src="/assets/js/plugins/nice-validator/jquery.validator.min.js"></script>
<script src="/assets/js/plugins/nice-validator/zh-CN.js"></script>
<!--ajax表单提交-->
<script src="/assets/js/plugins/jquery.form.min.js"></script>
<!--自定义-->
<script src="/assets/js/sys.js"></script>


<script>
    $(function () {
        var qj_form = $('#qj-form');
        qj_form.validator({
            theme: "simple_top",
            rules: {
                startTime: function (element) {
                    //不能小于当天
                    console.info(element.value);
                    return true;
                },
                endTime: function (element,params) {
                    //不能小于当天
                    console.info(element.value);
                    console.info($(params[0]).val());
                    return false;
                }
            },
            fields: {
                'reason': 'required;',
                'startTime': 'required;',//startTime;',
                'endTime': 'required;'//endTime(#startTime);'
            },
            // 获取display
            display: function (el) {
                return el.getAttribute('placeholder') || '';
            },
            valid: function (form) {
                var me = this;
//                me.holdSubmit();//防止表单被重复提交 *** 锁定
                //表单验证通过，提交表单到服务器
                sys.submit(qj_form,"/qj/add",function () {
                    me.holdSubmit(false);//防止表单被重复提交 *** 释放
                });
//                qj_form.ajaxSubmit({
//                    url: "/qj/add",
//                    dataType: 'json',
//                    success: function (result) {
//                        me.holdSubmit(false);//防止表单被重复提交 *** 释放
//                        sys.tip(result);
//                    }
//                });
            }
        }).on('click', '.qj-form-submit', function (e) {
            $(e.delegateTarget).trigger("validate");
        });
    });
</script>
</body>
</html>
