<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Runoob</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/user/index">用户模块</a></li>
                <li><a href="/role/index">角色模块</a></li>
                <li><a href="/privilege/index">权限模块</a></li>
                <li><a href="/act/index">流程模块</a></li>
            </ul>
            <div class="navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                ##                    #set($user = $request.getSession().getAttribute("user"))
                    <li><span class="navbar-text">
                        #if(${viewUtils.isNotNull(${user})})${user.role.name}:${user.name}#end
                        </span></li>
                    <li>
                        #if(${viewUtils.isNotNull(${user})})
                            <button class="navbar-btn btn btn-primary btn-sm" onclick="sysopen('/logout','_self')">安全退出
                            </button>
                        #else
                            <button class="navbar-btn btn btn-primary btn-sm" onclick="sysopen('/login','_self')">前去登录
                            </button>
                        #end
                    </li>
                </ul>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<script>
    function sysopen(url, target) {
        var a = document.createElement("a");
        a.setAttribute("href", url);
        a.setAttribute("target", target || "_blank");
        document.body.appendChild(a);
        a.click();
    }
</script>