<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉 width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--让部分国产浏览器默认采用高速模式渲染页面 360浏览器支持-->
    <meta name="renderer" content="webkit">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/favicon.ico">
    <title>权限列表</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--表格-->
    <link rel="stylesheet" href="/assets/js/plugins/dataTables/dataTables.bootstrap.min.css">
    <!--弹窗-->
    <link rel="stylesheet" href="/assets/js/plugins/sweetalert/sweetalert.css">
    <!-- 验证-->
    <link rel="stylesheet" href="/assets/js/plugins/nice-validator/jquery.validator.css">
    <!--ztree-->
    <link rel="stylesheet" href="/assets/js/plugins/ztree/css/metroStyle/metroStyle.css">

    <!--自定义 -->
    <link rel="stylesheet" href="/assets/css/sys.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    #parse("/nav.vm")
<div class="container sys-head">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="panel-title">角色列表</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 hidden-xs">
                            <button type="button" class="btn-add btn btn-success">
                                添加
                            </button>
                        </div>
                        <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-6">
                            <input id="table-search" type="text" class="form-control" placeholder="search"
                                   autocomplete="off">
                        </div>
                    </div>
                    <table id="data-list" class="table table-bordered table-hover display" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>角色名称</th>
                            <th>创建时间</th>
                            <th>备注</th>
                            <th width="80px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    个人说明
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<!-- .add modal -->
<div class="modal fade" id="add-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加角色</h4>
            </div>
            <form id="add-form" class="form-horizontal" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputName3" class="col-sm-2 control-label">角色名称</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName3" name="name" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remark" rows="3" placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">清空</button>
                    <button type="button" class="btn-add-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.add modal -->
<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑角色</h4>
            </div>
            <form id="edit-form" class="form-horizontal" method="post" autocomplete="off">
                <div class="modal-body">
                    <input type="hidden" name="id"> <!--- 表单隐藏域 -->
                    <div class="form-group">
                        <label for="inputName3" class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName3" name="name" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remark" rows="3" placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">清空</button>
                    <button type="button" class="btn-edit-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="assign-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">分配权限</h4>
            </div>
            <form id="assign-form" class="form-horizontal" method="post" autocomplete="off">
                <input type="hidden" name="id">
                <div class="modal-body">
                    <div style="width:250px;height:360px;overflow:auto;">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-assign-form-cancel btn btn-danger">清空</button>
                    <button type="button" class="btn-assign-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--表格-->
<script src="/assets/js/plugins/dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables/dataTables.bootstrap.min.js"></script>
<!--弹窗-->
<script src="/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<!--验证-->
<script src="/assets/js/plugins/nice-validator/jquery.validator.min.js"></script>
<script src="/assets/js/plugins/nice-validator/zh-CN.js"></script>
<!--ztree-->
<script src="/assets/js/plugins/ztree/jquery.ztree.all.min.js"></script>
<!--自定义-->
<script src="/assets/js/sys.js"></script>


<script>
    $(function () {
        var add_modal = $('#add-modal');
        var edit_modal = $('#edit-modal');
        var assign_modal = $('#assign-modal');
//        add_modal.modal({
//            backdrop: true,
//            show: false,
//            keyboard: true
//        });
//        edit_modal.modal({
//            backdrop: true,
//            show: false,
//            keyboard: true
//        });
        var table = $('#data-list').DataTable({
            "ajax": {
                "url": "/role/index",
                "type": "POST",
//                "dataType": "json",
                "contentType": "application/json;charset=UTF-8",
                "data": function (data) {
                    return JSON.stringify(data);
                }
            },
            "columns": [
                {"data": "id", "searchable": false},
                {"data": "name"},
                {
                    "data": "createTime", "render": function (data, type, row) {
                    return new Date(data).format("yyyy-MM-dd HH:mm:ss")
                }
                },
                {"data": "remark"},
                {"data": null, "searchable": false, "orderable": false}//不参与排序和查询
            ],
            "columnDefs": [{
                "targets": -1,
                "render": function (data, type, row) {
                    return '<button class="btn-assign btn btn-xs btn-success" data-id="' + row.id + '">分配权限</button> <button class="btn-edit btn btn-xs btn-info" data-id="' + row.id + '">编辑</button> <button class="btn-del btn btn-xs btn-danger" data-id="' + row.id + '">删除</button>';
                }
//                "defaultContent": "<button class='btn-edit btn btn-xs btn-info'>编辑</button> <button class='btn-del btn btn-xs btn-danger'>删除</button>"//添加按钮
            }],
            "initComplete": function () {
//                var api = this.api();
            }
        });
        //隐藏默认的搜索
        $(".dataTables_filter").hide();
        //自定义搜索
        $('#table-search').on('keyup', function () {
            table.search(this.value).draw();
        });

        var bean_add_form = $('#add-form');

        bean_add_form.validator({
            theme: "simple_top",
            fields: {
                'name': 'required; name;'
//                'pwd': 'required; password;',
//                'mobile': 'required; mobile;',
//                'email': 'required; email;'
            },
            // 获取display
            display: function (el) {
                return el.getAttribute('placeholder') || '';
            },
            valid: function (form) {
                //表单验证通过，提交表单到服务器
                sys.submit(form, "/role/insert", function () {
                    table.ajax.reload();
                    add_modal.modal("hide");
                });
            }
        }).on('click', '.btn-add-form-submit', function (e) {
            $(e.delegateTarget).trigger("validate");
        });

        var bean_edit_form = $('#edit-form');
        bean_edit_form.validator({
            theme: "simple_top",
            fields: {
                'name': 'required; name;'
//                'pwd': 'required; password;',
//                'mobile': 'required; mobile;',
//                'email': 'required; email;'
            },
            // 获取display
            display: function (el) {
                return el.getAttribute('placeholder') || '';
            },
            valid: function (form) {
                //表单验证通过，提交表单到服务器
                sys.submit(form, "/role/update", function () {
                    table.ajax.reload();
                    edit_modal.modal("hide");
                });
            }
        }).on('click', '.btn-edit-form-submit', function (e) {
            $(e.delegateTarget).trigger("validate");
        });
        //添加
        $('.btn-add').click(function () {
            add_modal.modal("show");
        });
        function getTree() {
            return $.fn.zTree.getZTreeObj("tree");
        }

        //单机打开节点
        function oneClick(e, treeId, treeNode) {
            getTree().expandNode(treeNode);
        }
        $('.btn-assign-form-cancel').click(function () {
            getTree().checkAllNodes(false);
        })
        $('.btn-assign-form-submit').click(function () {
            var trees = getTree().getCheckedNodes();
            var data = [];
            $.each(trees, function (index) {
                data.push(trees[index].id);
            });
            var rid = $('#assign-form input[name="id"]').val();
            sys.submitData(JSON.stringify({"rid": rid, "pids": data}), "/role/assign", function () {
                assign_modal.modal("hide");
            });
        });

        //分配权限
        $(document).on('click', '.btn-assign', function () {
            //$.fn.zTree.init($("#tree"), setting);
            var _this = $(this);
//
            $('#assign-form input[name="id"]').val(_this.data('id'));
            var setting = {
                view: {
                    dblClickExpand: false
                },
                callback: {
                    onClick: oneClick//单击事件重写
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                check: {
                    enable: true,
                    chkStyle: "checkbox",
                    chkboxType: {"Y": "ps", "N": "ps"}
                }
            };
            $.ajax({
                type: 'POST',
                url: "/privilege/tree",
//                data: {"id": id},
                dataType: 'json',
                success: function (result) {
                    $.fn.zTree.init($("#tree"), setting, result.data.obj);
                    assign_modal.modal("show");
                }
            })
        });
        //编辑
        $(document).on('click', '.btn-edit', function () {
            var _this = $(this);
            var _tr = _this.parent().parent()[0];
            var data = table.row(_tr).data();
            for (var obj in data) {
                $('#edit-form input[name=' + obj + ']').val(data[obj]);
                $('#edit-form textarea[name=' + obj + ']').text(data[obj]);
            }
            edit_modal.modal("show");
        });
        //删除
        $(document).on('click', '.btn-del', function () {
            var _this = $(this);
            var id = _this.data('id');
            sys.confirm("", function () {
                sys.del("/role/del", id, function () {
                    table.ajax.reload();
                })
            });
        });
    })
    ;
</script>
</body>
</html>
